mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			+e.row.row.align-items-center
				.col-auto.d-none.d-xl-block
					+pic('sAbout-img.jpg', undefined, 0)(class='sAbout__img')
				+e.txt-col.col
					//+pic('sAbout-back-txt.png',undefined, 0)(class='sAbout__back-img')
					+e.back-txt.d-none.d-md-block
						span FULL
						+e.bt-drive DRIVE
					+b.section-title
						h2
							span
								| О ШКОЛЕ
								|
							span.text-primary FULL DRIVE
						p Если вы ищете надежную автошколу с многолетней практикой успешной подготовки водителей - то вы пришли по адресу. У нас самый богатый опыт проведения онлайн курсов в Санкт-Петербурге. Платформа не первый год работает как часы, а интерфейс обучающего приложения интуитивно понятен.
						p Мы разработали собственную уникальную методику обучения, которая дает великолепные результаты в подготовке водителей. Ее эффективность подтверждает высокий процент сдачи экзамена по результатам тестирования по ПДД.
						p В нашем автопарке машины в отличном техническом состоянии, потому ваши занятия пройдут с пользой, комфортом и удовольствием от вождения. Экзамен в ГИБДД вы будете сдавать на том же автомобиле, на котором учились.
						p Мы будем сопровождать вас на каждом этапе: от записи в автошколу до получения прав. Отбросьте все страхи, ведь четкая и отлаженная схема работы коллектива нашей автошколы поможет вам стать грамотным водителем быстро и комфортно.
						p У нас нет дополнительных платежей. Никаких взносов или доплат за топливо. Вы платите ту сумму, которую мы вам назвали в начале.
	// end sAbout